*~
ocserv
configure
autom4te.cache
config.status
build-aux/config.guess
build-aux/config.sub
config.h
config.log
Makefile
Makefile.in
.deps
stamp-h1
*.o
gl/string.h
gl/libgnu.a
gl/arg-nonnull.h
gl/warn-on-use.h
gl/c++defs.h
src/ocserv.1
libopts/libopts.a
