*~
ocserv
configure
autom4te.cache
aclocal.m4
config.status
build-aux/config.guess
build-aux/config.sub
config.h
config.log
Makefile
Makefile.in
cscope.out
tags
.deps
stamp-h1
*.o
gl/string.h
gl/libgnu.a
gl/arg-nonnull.h
gl/warn-on-use.h
gl/c++defs.h
src/ocserv.1
libopts/libopts.a
gl/time.h
gl/sys/time.h
gl/unistd.h
gl/fcntl.h
gl/stdint.h
gl/sys/types.h
src/version.def
