[Unit]
Description=OpenConnect SSL VPN server Socket

[Socket]
ListenStream=4443
ListenDatagram=4443
BindIPv6Only=default
Accept=false
ReusePort=true

[Install]
WantedBy=sockets.target
