# User authentication method. Could be set multiple times and in that case
# all should succeed.
# Options: certificate, pam. 
auth = "pam"

# Use listen-host to limit to specific IPs or to the IPs of a provided hostname.
# listen-host = [IP|HOSTNAME]

# The time (in seconds) that a client is allowed to stay connected prior
# to authentication
auth-timeout = 40

# TCP port number
tcp-port = 3333

# Keepalive in seconds
keepalive = 5

# The key and the certificates of the server
server-cert = /home/nmav/cvs/ocserv/test.pem
server-key = /home/nmav/cvs/ocserv/test.pem

# The Certificate Authority that will be used
# to verify clients if certificate authentication
# is set.
#ca-cert = /path/to/ca.pem

# The object identifier that will be used to read the user ID in the client certificate.
# The object identifier should be part of the certificate's DN
#cert-user-oid = 0.9.2342.19200300.100.1.1

# A revocation list of ca-cert is set
#crl = /path/to/crl.pem

# GnuTLS priority string
tls-priorities = "PERFORMANCE:%SERVER_PRECEDENCE"

# The default server directory
#chroot-dir = /root

# Cookie validity time (in seconds)
# Once a client is authenticated he's provided a cookie with
# which he can reconnect. This option sets the maximum lifetime
# of that cookie.
cookie-validity = 14400

# Cookie database file. Where to store the cookies.
cookie-db = /var/tmp/ocserv-cookie.db

run-as-user = nobody
run-as-group = nogroup

# Network settings

device = vpns

# The pool from which the VPN user IPs will be drawn from.
ipv4-network = 192.168.1.0
ipv4-netmask = 255.255.255.0
# Use the keywork local to advertize the local P-t-P address as DNS server
# ipv4-dns = 192.168.2.1
ipv4-dns = local

#ipv6-address = 
#ipv6-mask = 
#ipv6-dns = 

# Leave empty to assign the default MTU of the device
# mtu = 

route = 192.168.2.0/255.255.255.0
route = 192.168.5.0/255.255.255.0
